@model RemindMe.Models.User

@{
    ViewData["Title"] = "Home Page";
}


    <h2>Welcome @Model.Username</h2>


<form method="get">
    <table class="table">

        <tr>
            <th>Login ID</th>
            <th>Member Since</th>
            <th>Google Email ID</th>
            <th>Reminders</th>
        </tr>

        <tr>
            <td>@Model.Username</td>
            <td>@Model.UserCreateDate</td>
            <td>@Model.GCalEmail</td>
            <td><a asp-controller="User" asp-action="Reminders" asp-route-id="@ViewBag.UserId">View and Schedule Reminders</a></td>
        </tr>



    </table>

</form>